<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Automation Suite">
	<listeners>
		<listener class-name="com.shopping.qa.listeners.MyListeners"/>
	</listeners>
  <test name="TutorialsNinja Test">
    <classes>
      <class name="com.shopping.qa.testcase.Register"/>
      <class name="com.shopping.qa.testcase.Login"/>
      <class name="com.shopping.qa.testcase.Search"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
